{% extends "layout.html" %}
{% load bootstrap_pagination %}

{% block main_container %}
<div class="span9">

    <h4>Total hosts is : {{ total_count }}</h4>
    {% bootstrap_paginate hosts range=10 show_prev_next="false" show_first_last="true" %}

    <table class="table">
        <tbody>
            <tr>
                <th>Host</th><th>Default Action</th>
            </tr>
            {% for host in hosts %}
            <tr>
                <td>{{ host }}</td>
                <td>
                <div class="btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">{{ host.default_action }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for action in actions %}
                        <li>
                            <a href="{% url 'boot.views.change_action' host.mac action %}">{{action}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- /container -->
{% endblock %}
