{% load console_extras %}

<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">
                Management
            </li>
            <li class="{% navactive request 'host_list_view' %}">
                <a href="{% url 'host_list_view' %}" class="">Host</a>
            </li>
            <li class="{% navactive request 'group_list_view' %}">
                <a href="{% url 'group_list_view' %}" class="">Group</a>
            </li>
                  
            <li class="nav-header">
                Reports
            </li>
            <li class="{% navactive request 'memtest_result_list_view' %}">
                <a href="{% url 'memtest_result_list_view' %}" class="">Memory test</a>
            </li>
            
            <li class="nav-header">
                Settings
            </li>                  
            <li>
                <a href="#" class="">Ubuntu</a>
            </li>
        </ul>
    </div><!--/.well -->
</div><!--/span-->
